{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Latest Products</h2>
                    <div class="product-carousel">
                        {% for product in products %}
                        <div class="single-product">
                            <div class="product-f-image">
                                <img src="{{product.image.url}}" alt="Product image" style="height: 216px;">
                                <div class="product-hover">
                                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                    <a href="{% url 'product_detail' product.slug %}" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                </div>
                            </div>
                            
                            <h2><a href="{% url 'product_detail' product.slug %}">{{product.name}}</a></h2>
                            
                            <div class="product-carousel-price">
                                <ins>RS,{{product.price}}</ins> <del>{{product.price | add:500}}</del>
                            </div> 
                        </div>
                   
                     

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->

{% endblock %}