{% extends 'base.html' %}
{% block slider %} 
{% endblock %}
{% block promo %}
{% endblock %}
{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Shop</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if product %}
    

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Search Products</h2>
                        <form action="">
                            
                            <input type="text" placeholder="Search products..." name="product_name">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                    
                    <div class="single-sidebar">
                        <h2 class="sidebar-title">Related Products</h2>
                        {% for product in related_products %}
                        <div class="thubmnail-recent">
                            <img src="{{product.image.url}}" class="recent-thumb" alt="">
                            <h2><a href="{% url 'product_detail' product.slug %}">{{product.name}}</a></h2>
                            <div class="product-sidebar-price">
                                <ins>{{product.price}}</ins> <del>{{product.price | add:500}}</del>
                            </div>                             
                        </div>
                     
                       {% endfor %}
                    </div>
                    
                    <!-- <div class="single-sidebar">
                        <h2 class="sidebar-title">Related Product</h2>
                        <ul>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                            <li><a href="">Sony Smart TV - 2015</a></li>
                        </ul>
                    </div> -->
                </div>
                
                <div class="col-md-8">
                    <div class="product-content-right">
                        <div class="product-breadcroumb">
                            <a href="">Home</a>
                            <a href="">Category Name</a>
                            <a href="">{{product.slug}}</a>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        <img src="{{product.image.url}}" alt="">
                                    </div>
                                    
                                    <div class="product-gallery">
                                        <img src="{{product.image.url}}" alt="">
                                        <img src="{{product.image.url}}" alt="">
                                        <img src="{{product.image.url}}" alt="">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">{{product.name}}</h2>
                                    <div class="product-inner-price">
                                        <ins>{{product.price}}</ins> <del>{{product.price | add:500}}</del>
                                    </div>    
                                    
                                    <form action="{% url 'add_to_cart' product.id %}" method="POST" class="cart">
                                        {% csrf_token %}
                                        <div class="quantity">
                                            <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                        </div>
                                        <button class="add_to_cart_button" type="submit">Add to cart</button>
                                    </form>   
                                    
                                    <div class="product-inner-category">
                                        <!-- <p>Category: <a href="">Summer</a>. Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>. </p> -->
                                    </div> 
                                    
                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reviews</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>  
                                                <p>{{product.description}}</p>
                                                 </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                <h2>Reviews</h2>
                                                <div class="submit-review">
                                                    <form action="{% url 'review_product' product.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <p><label for="name" >Name</label> <input name="name" type="text"></p>
                                                        <!-- <div class="rating-chooser">
                                                            <p>Your rating</p>
    
                                                            <div class="rating-wrap-post">
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                            </div>
                                                        </div> -->
                                                        <p><label for="review">Your review</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                        <p><input type="submit" value="Submit"></p>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="related-products-wrapper">
                            <h2 class="related-products-title">Product Reviews</h2>
                            <div class="related-products-carousel">
                                {% for review in reviews %}
                                <div class="single-product">
                                    <div class="product-f-image">
                                        <img src="#" alt="">
                                        <div class="product-hover">
                                            <!-- <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a> -->
                                        </div>
                                    </div>

                                    <h2>{{review.review}}</a>

                                    <div class="product-carousel-price">
                                        <ins>By {{review.reviewed_by}}</ins>
                                    </div> 
                                </div>
                                {% endfor %}                 
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>

{% else %}
<h1>no product available </h1>
{% endif %}
   
{% endblock %}

{% block brand %} 
{% endblock %}


{% block extra %}
{% endblock %}
